<%= javascript_include_tag 'redespachos' %>  

<section class="content-header">
	<h1>Controle de cargas</h1>
	<ol class="breadcrumb">
        <li><%= link_to root_path do %><i class="fa fa-dashboard"></i> Dashboard<% end %></li>
        <li><%= link_to redespachos_path do %><i class="fa fa-table"></i> Redespachos<% end %></li>
        <li class="active fa fa-user">Listagem</li>
    </ol>  
</section>
<section class="content">
	<h4 class="page-header">
        Controle de cargas
        <small>Aqui você tem acesso a todas os registros, para editar clique duas vezes sobre um campo, ele irá salvar quando voce apertar <code>Enter</code></small>
    </h4>
	
	<div id="grid_redespachos">
		
	</div>
	
	<div class="edit_area">
	</div>
	
	<div id="new_register_window">
		<div class="row">
			<%= form_for(@redespacho, :remote => true, :html => {:id => 'new_register', :role => "form", :class =>"form-horizontal"}) do |f| %>
					  <% if @redespacho.errors.any? %>
					    <div id="error_explanation">
						  <div class="alert alert-danger" role="alert">
						  	<strong>Erro salvar empresa:</strong>
						  	<br/><br/>
						    <ul>
						    	<% @redespacho.errors.full_messages.each do |message| %>
						        	<li><%= message %></li>
						      	<% end %>
						    </ul>
						   </div>
					    </div>
					  <% end %>
					  <div class="col-md-4">
						<div class="box box-primary">
						    <div class="box-header">
						        <h3 class="box-title">Dados da encomenta</h3>
						    </div>
						<div class="box-body">
							<div class="form-group">
						 		<%= f.label :status %>
	                			<%= f.select :status, options_for_select([['Em Andamento','AND'],['Finalizado', 'FIN']], selected: @redespacho.status), {}, :class =>" form-control combo" %>
							</div>
							
							<div class="form-group">
						 		<%= f.label :fornecedor %>
	                			<%= f.collection_select :fornecedor_id ,Fornecedor.all, :id,:nome,{:include_blank => 'Selecione...'}, {:class => 'form-control combo'} %>
							</div>
							
							<div class="form-group">
						 		<%= f.label :remetente %>
	                			<%= f.text_field :remetente, :class => "form-control", :placeholder=> :remetente%>
							</div>
							
							<div class="form-group">
						 		<%= f.label :remetente_cidade %>
	                			<%= f.text_field :remetente_cidade, :class => "form-control",:placeholder=> :remetente_cidade%>
							</div>
							
							<div class="form-group">
						 		<%= f.label :destinatario %>
	                			<%= f.text_field :destinatario, :class => "form-control",:placeholder=> :destinatario%>
							</div>
							
							<div class="form-group">
						 		<%= f.label :destinatario_cidade %>
	                			<%= f.text_field :destinatario_cidade, :class => "form-control",:placeholder=> :destinatario_cidade%>
							</div>
							
							<div class="form-group">
						 		<%= f.label :tipo_redespacho %>
	                			<%= f.select :tipo_redespacho, options_for_select([['Entrega','ENT'],['Coleta', 'COL'],['Redespacho', 'RED'],['Outros', 'OUT']], selected: @redespacho.tipo_redespacho), {}, :class =>"form-control combo" %>
	                			
							</div>
					 	</div>	
					 </div>
				</div>
					 
					 
				 <div class="col-md-4">
					<div class="box box-primary">
					    <div class="box-header">
					        <h3 class="box-title">Valores</h3>
					    </div>
						<div class="box-body">
							<div class="form-group">
						 		<%= f.label :valor_frete %>
	                			<%= f.text_field :valor_frete, :class => "form-control dinheiro",:placeholder=> :valor_frete%>
							</div>
							
							<div class="form-group">
						 		<%= f.label :valor_redespacho %>
	                			<%= f.text_field :valor_redespacho, :class => "form-control dinheiro",:placeholder=> :valor_redespacho%>
							</div>
							
							<div class="form-group">
						 		<%= f.label :valor_comissao %>
	                			<%= f.text_field :valor_comissao, :class => "form-control dinheiro",:placeholder=> :valor_comissao%>
							</div>
							
							<div class="form-group">
						 		<%= f.label 'Forma de pagamento' %>
	                			<%= f.select :forma_pagamento, options_for_select([['Boleto'],['Dinheiro'],['A Vista'],['A Prazo'],['Depósito'],['Cartão de crédito'],['Cheque'], ['Pago']], selected: @redespacho.forma_pagamento), {}, :class =>"combo form-control" %>
							</div>
							
							<div class="form-group">
						 		<%= f.label :volume %>
	                			<%= f.text_field :volume, :class => "form-control",:placeholder=> :volume%>
							</div>
							
							<div class="form-group">
						 		<%= f.label :peso %>
	                			<%= f.text_field :peso, :class => "form-control",:placeholder=> :peso%>
							</div>						
					 	</div>	
					</div>
				</div>
				
				 <div class="col-md-4">
					<div class="box box-primary">
					    <div class="box-header">
					        <h3 class="box-title">Outras Informações</h3>
					    </div>
						<div class="box-body">
							
							<div class="form-group">
						 		<%= f.label 'Data de envio' %>
	                			<div class="calendar" id='redespacho_data_envio' name='redespacho[data_envio]'></div>
							</div>
							
							<div class="form-group">
						 		<%= f.label 'Data de entrega' %>
	                			<div class="calendar" id='redespacho_data_entrega' name='redespacho[data_entrega]'></div>
							</div>	
							
							<div class="form-group">
						 		<%= f.label :recebido_por %>
	                			<%= f.text_field :recebido_por, :class => "form-control",:placeholder=> :recebido_por%>
							</div>		
							
							
							<div class="form-group">
						 		<%= f.label :nf_valor %>
	                			<%= f.text_field :nf_valor, :class => "form-control dinheiro",:placeholder=> :nf_valor%>
							</div>
							
							<div class="form-group">
						 		<%= f.label :nf_numero %>
	                			<%= f.text_field :nf_numero, :class => "form-control",:placeholder=> :nf_numero%>
							</div>
							
							<div class="form-group">
						 		<%= f.label 'JadLog Número da lista' %>
	                			<%= f.text_field :jadlog_lista_numero, :class => "form-control",:placeholder=> :jadlog_lista_numero%>
							</div>
							
							<div class="form-group">
						 		<%= f.label 'JadLog Número de conhecimento' %>
	                			<%= f.text_field :jadlog_conhecimento_numero, :class => "form-control",:placeholder=> :jadlog_conhecimento_numero %>
							</div>	
					 	</div>	
					</div>
				</div>
				
				 <div class="col-md-12">
					<div class="box box-primary">
						<div class="box-body">
							<div class="box-footer">
							  	<%= f.submit 'Salvar', :class => "btn btn-primary" %>
							  	<%= link_to 'Cancelar', '#', :id => 'Cancel', :class => "btn_fechar btn btn-cancel" %>
					          </div>
					 	</div>	
					</div>
				</div>
			<% end %>
		</div>
	</div>
</section>


