<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
		<%= stylesheet_link_tag 'http://getbootstrap.com/dist/css/bootstrap.min.css'%>
	</head>
	<div style="text-align: center">
		<h2>Relatório de Controle de Cargas</h2>
	</div>
	<br/>
	<body>
		<table class="table table-bordered ">
	      <thead>
	        <tr>
	          <th>Código</th>
	          <th>Empresa</th>
	          <th>Status</th>
	          <th>Tipo</th>
	          <th>Remetente</th>
	          <th>Cidade do Remetente</th>
	          <th>Destinatario</th>
	          <th>Cidade do Destinatario</th>
	          <th>Valor do Frete</th>
	          <th>Valor do Redespacho</th>
	          <th>Valor de Comissão</th>
	          <th>Forma de Pagamento</th>
	          <th>Volume</th>
	          <th>Peso</th>
	          <th>NF Valor</th>
	          <th>Data de envio</th>
	          <th>Data de entrega</th>
	        </tr>
	      </thead>
	      <tbody>
	      	<% valores = {:frete => 0.00,:redespacho => 0.00, :comissao => 0.00, :peso => 0.00, :volume => 0.00} %>
	        <% @registros.each do |reg| %>
	        	<tr>
	        		<td><%= reg.id %></td>
	        		<td><%= reg.empresa.nome %></td>
	        		<td><%= reg.status == 'AND' ? 'Andamento' : 'Finalizado' if !reg.status.nil? %></td>
	        		<td><%= 
	        				if reg.tipo_redespacho.nil?
								case reg.tipo_redespacho
								when 'ENT'
									'Entrega'
								when 'COL'
									'Coleta'
								when 'RED'
									'Redespacho'
								when 'OUT'
									'Outros'
								else
									''
								end
							end
	        			%></td>
	        		<td><%= reg.remetente %></td>
	        		<td><%= reg.remetente_cidade %></td>
	        		<td><%= reg.destinatario %></td>
	        		<td><%= reg.destinatario_cidade %></td>
	        		<td><%= 
	        				valores[:frete] = valores[:frete] + reg.valor_frete if reg.valor_frete
	        				'R$' + reg.valor_frete.to_s if reg.valor_frete 
	        			%></td>
	        		<td><%= 
	        				valores[:redespacho] = valores[:redespacho] + reg.valor_redespacho if reg.valor_redespacho
	        				'R$' + reg.valor_redespacho.to_s if reg.valor_redespacho 
	        			%></td>
	        		<td><%= 
	        				valores[:comissao] = valores[:comissao] + reg.valor_comissao if reg.valor_comissao
	        				'R$' + reg.valor_comissao.to_s if reg.valor_comissao 
	        			%></td>
	        		<td><%= reg.forma_pagamento %></td>
	        		<td><%= 
	        				valores[:volume] = valores[:volume] + reg.volume if reg.volume
	        				reg.volume.to_s + 'Un.'
	        			%></td>
	        		<td><%= 
	        				valores[:peso] = valores[:peso] + reg.peso if reg.peso
	        				reg.peso.to_s + 'Kg' if reg.peso 
	        			%></td>
	        		<td><%= 'R$' + reg.nf_valor.to_s if reg.nf_valor %></td>
	        		<td><%= reg.data_envio.strftime('%d/%m/%Y') if !reg.data_envio.nil? %></td>
	        		<td><%= reg.data_entrega.strftime('%d/%m/%Y') if !reg.data_entrega.nil? %></td>
	        	</tr>
	        <% end%>
	        	<tr>
	        		<td colspan="8">Total</td>
	        		<td>R$<%= number_with_delimiter(valores[:frete].to_s) %></td>
	        		<td>R$<%= number_with_delimiter(valores[:redespacho].to_s) %></td>
	        		<td>R$<%= number_with_delimiter(valores[:comissao].to_s) %></td>
	        		<td></td>
	        		<td><%= number_with_delimiter(valores[:volume].to_s) %>un.</td>
	        		<td><%= number_with_delimiter(valores[:peso].to_s) %>Kg</td>
	        		<td colspan="3"></td>
	        	</tr>
	       
	      </tbody>
	    </table>
    </body>

</html>
