<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
		<%= stylesheet_link_tag 'http://getbootstrap.com/dist/css/bootstrap.min.css'%>
		<style>
			.table {
				width: 98%;
				margin-bottom: 50px;
			}
			.table, .table > thead > tr > th, .table > tbody > tr > td, .table > tbody > tr > th,.table > tfoot > tr > td {
			   border-color: black;
			}
			.table > thead > tr > th {
				border-bottom: none;
			}
			.table
		</style>
	</head>
	<div style="text-align: center">
		<h2>Relatório de Contas a Pagar - Controle de Cargas</h2>
	</div>
	<p>Relatório gerado em: <%= Time.now.strftime("%d/%m/%Y %H:%m:%S") %> </p>
	<br/>
	<body>
		<table class="table table-bordered ">
	      <thead>
	        <tr>
	          <th>Código</th>
	          <th>Fornecedor</th>
	          <th>Remetente</th>
	          <th>Destinatario</th>
	          <th>Cidade do Destinatario</th>
	          <th>Valor a pagar</th>
	          <th>Volume</th>
	          <th>Peso</th>
	          <th>Data de envio</th>
	        </tr>
	      </thead>
	      <tbody>
	      	<% valores = {:frete => 0.00,:redespacho => 0.00, :comissao => 0.00, :peso => 0.00, :volume => 0.00} %>
	        <% @registros.each do |reg| %>
	        	<tr>
	        		<td><%= reg.id %></td>
	        		<td><%= reg.fornecedor.nome %></td>
	        		<td><%= reg.remetente %></td>
	        		<td><%= reg.destinatario %></td>
	        		<td><%= reg.destinatario_cidade %></td>
	        		<td><%= 
	        				valores[:redespacho] = valores[:redespacho] + reg.valor_redespacho if reg.valor_redespacho
	        				'R$' + reg.valor_redespacho.to_s if reg.valor_redespacho 
	        			%></td>
	        		<td><%= 
	        				valores[:volume] = valores[:volume] + reg.volume if reg.volume
	        				reg.volume.to_s + 'Un.'
	        			%></td>
	        		<td><%= 
	        				valores[:peso] = valores[:peso] + reg.peso if reg.peso
	        				reg.peso.to_s + 'Kg' if reg.peso 
	        			%></td>
	        		<td><%= reg.data_envio.strftime('%d/%m/%Y') if !reg.data_envio.nil? %></td>
	        		
	        	</tr>
	        <% end%>
	        	<tr>
	        		<td colspan="5">Total</td>
	        		<td>R$<%= number_with_delimiter(number_with_precision(valores[:redespacho].to_s, precision: 2)) %></td>
	        		<td><%= valores[:volume].to_s %>un.</td>
	        		<td><%= number_with_precision(valores[:peso].to_s, precision: 2) %>Kg</td>
	        		<td colspan="3"></td>
	        	</tr>
	      </tbody>
	    </table>
    </body>

</html>
