$('#tabela_relatorio tbody > tr').remove();
<% valores = {:frete => 0.00,:redespacho => 0.00, :comissao => 0.00, :peso => 0.00, :volume => 0.00} %>
var ids = '?id=';
<% if !@registros.nil? %>
	<% @registros.each do |item| %>
		ids += <%= item.id %> + ',';
		<%= valores[:volume] = valores[:volume] + item.volume if item.volume %>
		<%= valores[:peso] = valores[:peso] + item.peso if item.peso %>
		<%= valores[:frete] = valores[:frete] + item.valor_frete if item.valor_frete %>
		<%= valores[:redespacho] = valores[:redespacho] + item.valor_redespacho if item.valor_redespacho %>
		<%= valores[:comissao] = valores[:comissao] + item.valor_comissao if item.valor_comissao %>
		$('#tabela_relatorio tbody:last').append('<tr><td><%= item.id %></td><td><%= item.empresa.nome %></td><td><%= item.remetente %></td><td><%= item.remetente_cidade %></td><td><%= item.destinatario %></td><td><%= item.destinatario_cidade %></td><td>R$<%= item.valor_frete %></td><td>R$<%= item.valor_redespacho %></td><td>R$<%= item.valor_comissao %></td><td><%= item.forma_pagamento %></td><td><%= item.volume %>un.</td><td><%= item.peso %>Kg.</td><td><%= item.data_envio %></td>');
		
	<% end %>
		$('#tabela_relatorio tbody:last').append('<tr><td colspan="6">Total</td><td>R$<%= number_with_delimiter(number_with_precision(valores[:frete].to_s, precision: 2)) %></td><td>R$<%= number_with_delimiter(number_with_precision(valores[:redespacho].to_s, precision: 2)) %></td><td>R$<%= number_with_delimiter(number_with_precision(valores[:comissao].to_s, precision: 2)) %></td><td></td><td><%= valores[:volume].to_s %>un.</td><td><%= number_with_precision(valores[:peso].to_s, precision: 2) %>Kg</td><td colspan="3"></td></tr>')
<% end %>
$('#exportar a').each(function() {
	link = $(this).data('link') + '.pdf' +ids;
	$(this).attr('href', link);
})
$('#relatorio_por_codigo .carregando span').hide('slow')