<!DOCTYPE html>
<html>
<head>
	<title>Controle de cargas</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  	
  	
  	<!-- AdminLET -->
  	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  	<!-- bootstrap 3.2.0 -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  	
</head>
<body class="skin-blue">
	<header class="header">
        <a href="index.html" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            Control Log
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span><%= current_user.nome %><i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <%= image_tag(current_user.avatar) %>
                                    <p>
                                        <%= current_user.nome %>
                                        <small>Ultimo acesso em <%= current_user.last_sign_in_at %></small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <%= link_to 'Meus dados', edit_user_registration_path, :class => 'btn btn-default btn-flat' %>
                                    </div>
                                    <div class="pull-right">
                                        <%= link_to 'Sair', destroy_user_session_path, :method => :delete, :class => 'btn btn-default btn-flat' %>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
    </header>

	
	<div class="wrapper row-offcanvas row-offcanvas-left">
	    <!-- Left side column. contains the logo and sidebar -->
	    <aside class="left-side sidebar-offcanvas">
	       <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <%= image_tag(current_user.avatar) %>
                        </div>
                        <div class="pull-left info">
                            <p>Olá, <%= current_user.nome %></p>

                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="<%= params[:controller] == 'dashboard' ? 'active' : '' %>">
                        	<%= link_to root_path do %>
				    			<i class="fa fa-dashboard"></i> <span>Dashboard</span>
				    		<% end %>
                        </li>
                        <li class="<%= params[:controller] == 'redespachos' ? 'active' : '' %>">
                        	<%= link_to redespachos_path do %>
				    			<i class="fa fa-table"></i> <span>Controle de Cargas</span>
				    		<% end %>
                        </li>
                        <li class="treeview <%= params[:controller] == 'users' ? 'active' : '' %>">
                        	 <a href="#">
				    			<i class="fa fa-users"></i> <span>Usuários</span>
				    			<i class="fa fa-angle-left pull-right"></i>
				    		</a>
				    		<ul class="treeview-menu">
                                <li><%= link_to users_path do %><i class="fa fa-users"></i>Listagem <% end %></li>
                                <li><%= link_to new_user_path do %><i class="fa fa-user"></i>Cadastrar <% end %></li>
                                
                            </ul>
                        </li>
                        <li class="<%= params[:controller] == 'fornecedores' ? 'active' : '' %>">
                        	<%= link_to fornecedores_path do %>
				    			<i class="fa fa-building"></i> <span>Fornecedores</span>
				    		<% end %>
                        </li>
                        <li class="treeview <%= params[:controller] == 'relatorios' ? 'active' : '' %>">
                            <a href="#">
                                <i class="fa fa-bar-chart-o"></i>
                                <span>Relatórios</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                            	<li><%= link_to relatorios_path do %> <i class="fa fa-angle-double-right"></i> Relatorios <% end %></li>
                                <li><%= link_to relatorio_por_codigo_relatorios_path do %> <i class="fa fa-angle-double-right"></i> Relatorios por codigo <% end %></li>
                            </ul>
                        </li>
                        
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
	    </aside>
	
	    <!-- Right side column. Contains the navbar and content of the page -->
	    <aside class="right-side">
	        <%= yield %>
	    </aside><!-- /.right-side -->
	</div><!-- ./wrapper -->	
	
	<!-- jQuery 2.0.2 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    
    
    
    <!-- AdminLTE App -->
    <%= javascript_include_tag 'theme/AdminLTE/app.js' %>
    

</body>
</html>
